@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body{
    background-color: #facc15;
}

/* Override scrollbar styles */
::-webkit-scrollbar {
    width: 7px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f5f9;
    border-radius: 100px;

}

::-webkit-scrollbar-thumb {
    background: #bcbcbc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #868686;
}
